@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-color: white;
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: 'Inter', sans-serif;
  display: grid;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
img {
  max-width: 100%;
  height: auto;
}

.sec__one {
  position: relative;
  width: 100%;
  display: flex;
  padding: 60px 0;
}
.sec__one h1 {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #07a8ff;
  font-family: 'Inter', sans-serif;
}
.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
